
/* === GLOBAL === */

h1, h2, h3, h4, h5, h6 {
    font-family: "Spectral", serif;
}

html {
    height: 600vh;
    background-color: rgb(6, 1, 34);
}

/* === LANDING PAGE === */

#landing-page {
    height: 100vh;
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    color: white;
}

#landing-page h1 {
    padding-top: 40vh;
    margin: 0;
    font-size: 7vh;
}

#landing-page p {
    margin: 0;
    margin-top: 1.5vh;
    font-family: "Spectral", serif;
    font-size: 3vh;
}

/* === ABOUT PAGE === */

#about-page {
    text-align: center;
    padding: 4%;
    width: 92%;
    color: white;
    padding-top: 10vh;
}

#about-page h1 {
    font-size: 4vh;
    /* do something */
}

#about-page p {
    font-family: "Work Sans", sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 2.25vh;
}

/* === SOLUTIONS PAGE === */

#solutions-page {
    color: white;
    text-align: center;
}

#solutions-page h1 {
    font-size: 4vh;
}

#solutions-page-software {
    background-color: #b71540;
    padding: 0.1vh 0 0.2vh 0;
}

#solutions-page-air-quality {
    background-color: #079992;
    padding: 0.1vh 0 0.2vh 0;
}

#solutions-page-water-quality {
    background-color: #1e3799;
    padding: 0.1vh 0 0.2vh 0;
}

.solutions-page-section h2 {
    font-size: 3.5vh;
}

.solutions-page-solution {
    text-align: center;
    width: 80%;
    background-color: white;
    color: black;
    padding: 5%;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 3vh;
}

.solutions-page-solution h3,p {
    font-family: "Work Sans", sans-serif;
}

.solutions-page-solution h3 {
    font-size: 2.5vh;
}

.solutions-page-solution p {
    font-size: 2vh;
    text-align: justify;
}

.solutions-page-solution-img {
    width: 80vw;
    height:50vw;
    border-radius: 20px;
}

#solutions-page-solution-pos .solutions-page-solution-img {
    background-image: url(../../assets/images/pos-system.jpg);
    background-size: cover;
}

#solutions-page-solution-expert .solutions-page-solution-img {
    background-image: url(../../assets/images/expert-systems.jpg);
    background-size: cover;
}

#solutions-page-solution-ozone .solutions-page-solution-img {
    background-image: url(../../assets/images/active-oxygen.jpg);
    background-size: cover;
}

#solutions-page-solution-nanobubbles .solutions-page-solution-img {
    background-image: url(../../assets/images/nanobubbles.jpg);
    background-size: cover;
}

/* === REST & FOOTER === */

#contact-button {
    display: inline-block;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 3vh;
    padding: 5%;
    text-decoration: none;
    background-color: #fa983a;
    margin-top: 7.5vh;
    border-radius: 30px;
}

#privacy-policy {
    display: inline-block;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 3vh;
    padding: 2%;
    text-decoration: none;
    background-color: #fa983a;
    margin-top: 7.5vh;
    border-radius: 30px;
}

#footer p {
    text-align: center;
    color: white;
    margin-top: 7.5vh;
    font-size: 2vh;
}